---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '@/styles/global.css'
---

<Layout title="About">
	<main>
		<h1>About</h1>
		<ul role="list" class="not-prose">
			<Card
				href="/"
				title="Home"
				body="Go back home"
			/>
		</ul>
	</main>
</Layout>
