---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const pageTitle = "About";
---

<Layout title={pageTitle}>
  <main>
    <h1>{pageTitle}</h1>
  </main>
</Layout>
