---
const { frontmatter } = Astro.props;
import Layout from "./Layout.astro";
---

<Layout title={frontmatter.title}>
  <div class="flex justify-center">
    <img
      src={frontmatter.image.url}
      alt={frontmatter.image.alt}
    />
  </div>
  <h1>{frontmatter.title}</h1>
  <slot />
  <div class="h-12"></div>
</Layout>
