---
const { frontmatter } = Astro.props;
import Layout from "./Layout.astro";
---

<Layout title={frontmatter.title}>
  <img
    src={frontmatter.image.url}
    alt={frontmatter.image.alt}
    class="hidden"
  />
  <div
    style={{
      backgroundImage: `url(${frontmatter.image.url})`,
    }}
    class="bg-center bg-contain bg-no-repeat h-[500px] w-full"
  >
  </div>
  <slot />
</Layout>
